[submodule "themes/nostyleplease"]
	path = themes/nostyleplease
	url = https://github.com/g-hw/hugo-theme-nostyleplease
[submodule "themes/hugo-embed-pdf-shortcode"]
	path = themes/hugo-embed-pdf-shortcode
	url = https://github.com/anvithks/hugo-embed-pdf-shortcode.git
